@use '~@angular/material' as mat;
@mixin crm-app-theme($theme) {

  a:active {
    font-weight: bold;
    color: mat.get-color-from-palette(map-get($theme, accent), darker) !important;
  }

  .active {
    font-weight: bold;
    color: mat.get-color-from-palette(map-get($theme, accent), darker) !important;
  }

}
